
/* .copyright-wrapper {
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.copyright-wrapper > .left {
    width: 50%;
    height: 100%;
}


.copyright-wrapper > .left {
    width: 50%;
    height: 100%;
} */